.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 250px;
  justify-content: space-between;
  align-content: space-between;
  flex-flow: row wrap;
}

.btn--gray {
  width: 90px;
  height: 40px;
  background-color: rgb(214, 214, 214);
  border-width: 1px;
  border-color: rgb(214, 214, 214);
  border-radius: 8px;
}
.btn--gray:hover {
  cursor: pointer;
}

.btn--lightgray {
  width: 90px;
  height: 40px;
  background-color: rgb(236, 236, 236);
  border-width: 1px;
  border-color: rgb(236, 236, 236);
  border-radius: 8px;
}

.btn--lightgray:hover {
  cursor: pointer;
}
