.screen {
  width: 400px;
  height: 50px;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
  margin-bottom: 5px;
}
.screen__top {
  position: relative;
  width: 370px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding-right: 30px;
}
.screen__formula {
  display: flex;
}
.screen__bracket {
  color: rgb(143, 143, 143);
}
.screen__down {
  display: flex;

  height: 22px;
  width: 370px;
  justify-content: end;
  padding-right: 30px;
}
