.btn__records {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 42px;
  height: 20px;
  font-size: 9px;
  border: 1px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(7, 7, 7, 0.1);
}
.btn__records:hover {
  cursor: pointer;
  background-color: rgb(248, 248, 248);
}
.btn__records:active {
  left: 3px;
  top: 3px;
}
