.calculator-d {
  font-size: 40px;
}
.formula-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.formulaframe {
  width: 400px;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(156, 156, 156);
  border-radius: 5px;
  margin-bottom: 5px;
}
.formula {
  position: relative;
  width: 370px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding-right: 30px;
}
.formula-div {
  display: flex;
}
.bracket {
  color: rgb(143, 143, 143);
}
.result {
  display: flex;

  height: 22px;
  width: 370px;
  justify-content: end;
  padding-right: 30px;
}
.records {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 42px;
  height: 20px;
  font-size: 9px;
  border: 1px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(7, 7, 7, 0.1);
}
.records:hover {
  cursor: pointer;
  background-color: rgb(248, 248, 248);
}
.records:active {
  left: 3px;
  top: 3px;
}
.records-container {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 220px;
  height: 90px;
  box-shadow: 2px 2px 5px rgba(7, 7, 7, 0.1);
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  animation: all ease-in-out 2s;
}
.records-p {
  display: flex;
  margin-top: 3px;
  margin-left: 7px;
  margin-bottom: 3px;
  font-size: 9px;
}
.records-p:hover {
  cursor: pointer;
}
.records-div {
  width: inherit;
  height: 60px;
  overflow: auto;
}
